body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

li{
    color: black;
}

#slide-out{
    height: 400px;
}
          
.sidenav li{
    margin-top: 25px;
    font-size: 30px;
}
.img{
    position: relative;
    right: -101px;
}
img{
    size: 100%;
}

.gra{
    margin-top: 25px;
}

.tit{
    margin-top: 30px;
    padding: 2px;
}